:root {
    --primary-color: #0080ff;
    --primary-color-op: #004d99;
}

@font-face {
    font-family: 'opensans regular';
    src: url(../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'opensans bold';
    src: url(../assets/fonts/OpenSans-ExtraBold.ttf);
}

* {
    scroll-behavior: smooth !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'opensans regular';
    background-color: #ffffff;
    overflow-x: hidden;
}

h1 {
    font-family: 'opensans bold';
    font-size: 4.5rem;
    text-align: center;
}

h1,
h2,
h3,
p {
    color: black;
}

a {
    text-decoration: none;
    color: white;
    border-radius: 3.5px;
}

li {
    border-radius: 3.5px;
}

nav {
    width: 100%;
    background-color: #2F5075;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 5;
    text-align: center;
}

button {
    width: 350px;
    height: 100px;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    border-radius: 20px;
    border: none;
    transition-duration: .2s;
}

button:hover {
    background-color: var(--primary-color-op);
    cursor: pointer;
}

.nav-logo {
    height: 60px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.5px;
}

.logo-container {
    width: 150px;
}

.nav-sections {
    display: flex;
    justify-self: flex-end;
    margin-right: 3.5px;
    gap: 14px;
}

.nav-links {
    height: 35px;
    width: auto;
    border: none;
    border-radius: 3.5px;
    margin-top: 13px;
    padding: 0 15px;
    color: white;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.active-link {
    background-color: var(--primary-color);
    border-radius: 3.5px
}

.nav-links:hover,
.nav-links:active,
.active-link:target {
    background-color: var(--primary-color-op);
    border-radius: 3.5px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.nav-togle-btn {
    width: 34px;
    height: 34px;
    display: none;
    justify-self: end;
    border-radius: 3.5px;
    border: 1px solid white;
    background: none;
}

.nav-menu:hover {
    background-color: rgba(118, 118, 118, 0.3);
}

.section-example {
    padding-top: 20px;
    padding-bottom: 100px;
    transition: all 1s ease-in-out;
}

/* hero section css */

.hero-section {
    width: 100%;
    height: 120vh;
    padding-top: 60px;
    background-image: url(../assets/clouds.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
}

.main {
    display: flex;
    justify-content: space-between;
    width: 94vw;
    height: calc(100vh - 60px);
    align-items: center;
}

.hero-section .main .amca-img {
    width: 500px;
    height: 500px;
}

/* Carousel Stuff */

.title-div {
    margin-bottom: 70px;
}

.title-div h1 {
    padding-bottom: 35px;
}

.carousel {
    width: 1040px;
    height: 600px;
    position: relative;
    border: solid 20px #1F1F1F;
    border-radius: 20px;
}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
    width: 10%;
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}




/* Quienes-Somos redondeado separador de secciones */

.svg-wrapper {
    width: 100vw;
    object-fit: contain;
}

.quienes-svg {
    position: absolute;
    overflow-x: hidden;
    z-index: 1;
    top: 85vh;
    width: 100vw;
}

/* Quienes Somos section css */

.guitar {
    z-index: 2;
    position: absolute;
    top: 85vh;
    left: -440px;
    width: 50%;
    opacity: 51%;
}

.hat {
    position: absolute;
    z-index: 2;
    height: 150px;
    opacity: 30%;
    right: 5vw;
    transform: translate(0px, 25vh);
}

.circle {
    content: '';
    z-index: 1;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #2f507581;
    position: absolute;
    transform: translate(30vw, 50px);
}

.circle:nth-child(2) {
    height: 60px;
    width: 60px;
    transform: translate(27vw, 400px);
}

.circle:nth-child(3) {
    height: 200px;
    width: 200px;
    transform: translate(43vw, 500px);
}

.circle:nth-child(4) {
    height: 90px;
    width: 90px;
    transform: translate(-43vw, 450px);
}

#section-1,
.quienes-main,
.comision-directiva,
.member-row {
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-1 .quienes-main h1,
#section-1 .quienes-main p {
    z-index: 4;
    text-align: center;
}

#section-1 .quienes-main p {
    margin-top: 60px;
    font-size: 1.5rem;
    margin-bottom: 200px;
}

.quienes-somos-info-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 100px;
}

.quienes-somos-info-wrapper div {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    vertical-align: middle;
}

.quienes-somos-info-wrapper div:nth-child(2) {
    padding-left: 100px;
    padding-right: 100px;
    /* border-left: solid rgb(151, 151, 151) 1px;
    border-right: solid rgb(151, 151, 151) 1px; */
}

.quienes-somos-info-wrapper div:nth-child(3):before,
.quienes-somos-info-wrapper div:nth-child(2):before {
    position: absolute;
    content: '';
    width: 2px;
    height: 70px;
    background-color: #979797;
    transform: translate(-100px, 0px);
}

.quienes-somos-info-wrapper div h1 {
    font-family: 'opensans regular';
    color: #2F5075;
}

.quienes-somos-info-wrapper div p {
    margin-top: 20px;
}

/* Socios section css */

#section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
}

#section-2 .comision-directiva {
    display: flex;
    background-color: #F1B462;
    padding: 80px;
    margin: 80px;
    margin-top: 0px;
    border-radius: 80px;
}

#section-2 .member-row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#section-2 .member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 366px;
    width: 255px;
    border-radius: 10px;
    margin: 20px;
    background-color: white;
}

#section-2 .comision-directiva .member-row .member-card img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 5px #F1B462;
}

#section-2 .comision-directiva .member-row .member-card h1 {
    color: #004d99;
    font-size: 1.5rem;
}

#section-2 .nuestra-comunidad-row {
    display: flex;
    justify-content: center;
}

#section-2 .nuestra-comunidad-row div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    margin: 20px;
}

#section-2 .nuestra-comunidad-row img {
    width: 70px;
}

#section-2 .hacete-socio-wrapper {
    background-color: #2F5075;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 80px;
    border-radius: 50px;
}

#section-2 .hacete-socio-wrapper h1 {
    color: white;
    margin-bottom: 0px;
    height: 65px;
    line-height: 65px;
    margin-top: 40px;
}

#section-2 .hacete-socio-wrapper img {
    position: absolute;
    transform: translate(235px, 35px);
}

#section-2 .hacete-socio-wrapper a {
    background-color: #F1B462;
    width: 360px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    margin: 40px;
    font-size: 1.5rem;
}

#section-2 .preguntas-frequentes-wrapper {
    margin: 80px;
    border-radius: 50px;
    background-color: #2F5075;
}

#section-2 .inner-wrapper {
    background-color: white;
    margin: 35px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accordion {
    overflow: hidden;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.accordion:nth-child(2),
.accordion:nth-child(3) {
    border-bottom: 2px solid #979797;
}

.accordion:last-child {
    margin-bottom: 40px;
}

.accordion__intro {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 20px;
    cursor: pointer;
}

.accordion__content {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    transition: all 0.25s ease-out;
    color: #f1f1f1;
    opacity: 0;
}

.accordion__active .accordion__content {
    padding: 0 20px 40px;
    opacity: 1;
}

.arrowButton {
    transition-duration: .25s;
}

.arrowButton__active {
    transform: rotate(90deg);
    fill: #00b9da;

}

/* Festivales section css */

#section-3 {
    background-color: #2F5075;
    height: 140vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 40vh;
}

.festivales-header {
    color: white;
}

.festivales-carousel {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.festivales-carousel__track-container {
    display: flex;
    overflow: hidden;
    width: 90%;
    height: 100%;
}

.festivales-carousel__track {
    display: flex;
    transition: transform 0.3s ease-in-out;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.festivales-carousel__card {
    min-width: calc(33% - 20px);
    height: 100%;
    margin: 0px 40px;
    margin-left: 0px;
    background-color: #f0f0f0;
    text-align: left;
}

.festivales-carousel__card img {
    width: 100%;
}

.card-info {
    padding-top: 40px;
    padding-left: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.festivales-carousel__card .card-info h1 {
    font-size: 2rem;
    color: black;
    text-align: left;
}

.festivales-carousel__card .card-info .card-text {
    text-align: left;
}

.festivales-carousel__card .card-info a {
    color: #00b9da;
    padding: 10px;
    width: 131px;
    margin-top: 10px;
    border: 2px solid #00b9da;
    transition-duration: .2s;
}

.festivales-carousel__card .card-info a:hover {
    background-color: #00b9da;
    color: white;
}

.festivales-carousel__button {
    width: 100px;
    background-color: #00000000;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 20px;
    z-index: 1;
}

.festivales-carousel__button:hover {
    background-color: #00000000;
}

.festivales-carousel__indicators {
    display: flex;
    justify-content: center;
}

.festivales-carousel__indicator {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
}

.festivales-carousel__indicator--active {
    background-color: #00b9da;
}

/* Contacto section css */

.contacto-svg {
    position: absolute;
    width: 100vw;
    transform: translate(0px, 850px);
    z-index: 1;
}

.bottom-circle {
    content: '';
    z-index: 2;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #f1b36291;
    position: absolute;
    transform: translate(50px, calc(100vh + 100px));
}

.circle-two {
    height: 100px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    z-index: 1;
    transform: translate(93vw, calc(100vh + 105px + 43vw));
}

#section-4 {
    display: flex;
    flex-direction: column;
}

#section-4 h1 {
    margin-bottom: 100px;
}

#section-4 h1,
#section-4 .lower-section {
    z-index: 2;
}

#section-4 .country {
    height: 40vw;
    width: 50vw;
}

#section-4 .lower-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#section-4 .lower-section form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: solid 2px #979797;
    height: 40vw;
    width: 35vw;
}

#section-4 .lower-section form input,
#section-4 .lower-section form textarea {
    width: 80%;
    height: 4rem;
    font-size: 1.5rem;
    padding: 10px;
}

#section-4 .lower-section form textarea {
    resize: none;
    height: 12rem;
    text-align: start;
}

#section-4 .lower-section form .submit-button {
    padding: 15px;
    width: auto;
    height: auto;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 5px;
    font-size: 1.5rem;
    color: white;
    border: none;
    background-color: #004d99;
}

/* Footer */

footer {
    text-align: center;
    color: white;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F5075;
}

footer img {
    width: 80px;
}

footer div:nth-child(3) img,
footer div:nth-child(4) img {
    width: calc(80px / 3);
}

footer div {
    padding: 16px;
}

footer a {
    display: flex;
    align-items: center;
}

footer div:nth-child(2) {
    border-left: solid white 1px;
    border-right: solid white 1px;
}

.whatsapp-icon {
    margin-right: 8px;
}

/* ----------------------------- */

@media screen and (max-width: 1671px) {

    .hero-section .main .amca-img {
        width: 35vw;
        height: 35vw;
    }

    .hero-section .main .carousel {
        width: 58vw;
        height: 32.625vw;
        aspect-ratio: 16 / 9;
    }
}


@media screen and (max-width: 1035px) {
    .main {
        flex-direction: column;
        padding-top: 10px;
    }

    .hero-section {
        padding-left: 5px;
        padding-right: 5px;
    }

    .hero-section .main .amca-img {
        height: 38vh;
        width: 38vh;
    }

    .hero-section .main .carousel {
        width: 90vw;
        aspect-ratio: 16 / 9;
        height: auto;
    }
}

@media screen and (max-width:760px) {
    nav {
        flex-direction: column;
        height: 60px;
    }

    .nav-logo {
        width: 100%;
        height: 60px;
        position: fixed;
    }

    .nav-links {
        margin-top: 0;
        height: 40px;
    }

    .nav-sections {
        margin: 0;
        margin-top: 70px;
        padding: 0 1em;
        display: none;
        gap: 10px;
    }

    .nav-togle-btn {
        display: flex;
    }

    .hero-section {
        background-position: center right;
    }

    .nav-sections-in {
        display: flex;
        flex-direction: column;
        opacity: 1;
        transition: all 1s linear;
    }

    .nav-sections-out {
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition: all 0.2s linear;
    }

    .navbar-resize-active {
        height: 370px;
        transition: all 0.1s linear;
    }

    .navbar-resize-disabled {
        height: 60px;
        transition: all 1s ease-in-out;
    }
}

@media screen and (max-width:768px) {

    .carousel-button {
        font-size: 2rem;
    }

}



@media screen and (max-width:540px) {

    .carousel-button {
        font-size: 1rem;
    }

    .logo-container {
        width: 100px;
    }

}